{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        [
            "@babel/preset-stage-2",
            { "decoratorsLegacy": true }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-object-rest-spread",
        ["@babel/plugin-transform-runtime",{ "polyfill": false, "regenerator": true }],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "#rsca": "./src/vendor/react-store/components/Action",
                    "#rscg": "./src/vendor/react-store/components/General",
                    "#rsci": "./src/vendor/react-store/components/Input",
                    "#rscv": "./src/vendor/react-store/components/View",
                    "#rscz": "./src/vendor/react-store/components/Visualization",
                    "#rsu": "./src/vendor/react-store/utils",
                    "#rsk": "./src/vendor/react-store/constants",
                    "#requests": "./src/requests",
                    "#components": "./src/components",
                    "#redux": "./src/redux",
                    "#config": "./src/config",
                    "#views": "./src/views",
                    "#rest": "./src/rest",
                    "#store": "./src/store",
                    "#constants": "./src/constants",
                    "#request": "./src/request",
                }
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react",
                [
                    "@babel/preset-stage-2",
                    { "decoratorsLegacy": true }
                ]
            ],
            "plugins": [
                "babel-plugin-dynamic-import-node",
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "polyfill": false,
                        "regenerator": true
                    }
                ],
            ]
        }
    }
}
