@import '../../stylesheets/utils';

.add-organization {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    .inputs {
        flex-grow: 1;
        padding: var(--spacing-extra-small) var(--spacing-large);
        overflow-y: auto;

        >* {
            margin: var(--spacing-small-alt) 0;
        }
    }

    .action-buttons {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
    }
}
